  <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.incrediblespottydog.timestablemission"
    versionCode = "3"
    version     = "1.2.0" >

  <name>times table mission</name>
  <description>A times table mission</description>
  <author href="http://incrediblespottydog.com" email="hello@incrediblespottydog.com">The incredible spotty dog</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <!-- iOS compatible generic icon, no transparency -->
  <icon src="res/icon/generic/icon.png"/>
  <splash src="splash.png" />
  <plugin name="cordova-plugin-screen-orientation" spec="https://github.com/gbenvenuti/cordova-plugin-screen-orientation.git#1.4.2"  />
  <preference name="Orientation" value="portrait" />

  <platform name="android">
  </platform>
  <platform name="ios">
        <!-- iOS 9.0+ -->
        <!-- iPad -->
        <!-- DH Guess - TODO -->
        <icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167" />
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/icon/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/icon/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/icon/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80" />
        <!-- iPhone Spotlight and Settings Icon -->
        <icon src="res/icon/ios/icon-small.png" width="29" height="29" />
        <icon src="res/icon/ios/icon-small@2x.png" width="58" height="58" />
   </platform>

  <platform name="ios">
    <splash src="res/screen/ios/screen-iphone-portrait.png" width="320" height="480" />
    <splash src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" height="960" />
    <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136" />
    <splash src="res/screen/ios/screen-iphone-portrait-667h.png" width="750" height="1334" />
    <splash src="res/screen/ios/screen-iphone-portrait-736h.png" width="1242" height="2208" />
    <splash src="res/screen/ios/screen-ipad-portrait.png" width="768" height="1024" />
    <splash src="res/screen/ios/screen-ipad-portrait-2x.png" width="1536" height="2048" />
  </platform>

  <access origin="*"/>
</widget>