  <widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.incrediblespottydog.timestablemission"
    versionCode = "3"
    version     = "1.2.0" >

  <name>times table mission</name>
  <description>A times table mission</description>
  <author href="http://incrediblespottydog.com" email="support@incrediblespottydog.com">The incredible spotty dog</author>
  <content src="index.html"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="14"/>
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>
  <icon src="assets/images/icon.png"/>
  <splash src="assets/images/splash.png" />
  <platform name="android">
  </platform>
  <access origin="*"/>
</widget>